<nav id="navbar" class="navbar" itemscope="itemscope" itemtype="https://schema.org/SiteNavigationElement">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item has-text-weight-normal" itemprop="url" href="{{ site.url | append: "/#home"}}"><h1 class="title is-5 has-text-weight-normal">{{ site.title }}</h1></a>
      <a class="navbar-item" href="https://github.com/{{ site.github }}" target="_blank"><span class="icon has-text-grey"><i class="fab fa-lg fa-github"></i></span></a>
    </div>
  </div>
</nav>
