---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <h1 class="text-4xl font-bold text-purple-900 p-8">BEAM Community</h1>
    <p class="px-8 text-slate-600">Site is being rebuilt.</p>
  </main>
</Layout>
