@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400');
$family-sans-serif: 'Source Sans Pro', sans-serif;
$title-weight: 300;
$content-heading-weight: 400;
$primary: #A2003E;
$link: #D43A76;
$link-hover: $primary;
$box-shadow: 0 0 15px hsl(0, 0%, 86%), 0 0 0 1px hsl(0, 0%, 92%);
$box-radius: 10px; 

@import 'bulma/bulma';
@import 'libs/mixins';

html {
  body {
    @include font-smoothing(off);
    .hero-home {
      $gradient-bottom-right: darken(saturate(adjust-hue($primary, -10deg), 10%), 10%);
      $gradient-top-left: lighten(saturate(adjust-hue($primary, 10deg), 5%), 5%);
      background-image: linear-gradient(141deg, $gradient-top-left 0%, $primary 71%, $gradient-bottom-right 100%);
      @include from($desktop) {
        background-color: #d40051;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23d40051'/%3E%3Cstop offset='1' stop-color='%23a2003e'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1'%3E%3Cstop offset='0' stop-color='%23630026' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23630026' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2'%3E%3Cstop offset='0' stop-color='%23630026' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23630026' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.21'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
        background-attachment: fixed;
        background-size: cover;
        /* background by SVGBackgrounds.com */        
      }
    }
        
    .section {
      padding: 4rem 1.5rem;
      
      &.fact {
        border-top: 1px solid $primary;
      }
      
      &.projects {
        background-color: $white-ter;
        border-top: 1px solid $grey-lighter;

        h2.title {
          margin-bottom: 4rem;
        }
        .box {
          min-height: 200px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          p {
            min-height: 65px;
          }
          &:hover {
            box-shadow: 0 0 15px hsl(0, 0%, 81%), 0 0 0 1px hsl(0, 0%, 81%);
          }
        }
      }      
    }
    
    .footer {

      border-top: 1px solid $grey-lighter;
      background-color: $white-ter;
    }
    #navbar {
      .navbar-brand {
        .navbar-item {
          background-color: #000;
        }
      }
    }
  }
}
