{% capture tl-line %}{% if include.milestone.style.line %}{{ include.milestone.style.line }}{% else %}is-grey{% endif %}{% endcapture %}
{% capture tl-marker %}{% if include.milestone.style.marker %}{{ include.milestone.style.marker }}{% else %}is-link{% endif %}{% endcapture %}

<div class="timeline-item {{ tl-line }}">
  <div class="timeline-marker {{ tl-marker }}"></div>
  <div class="timeline-content">
    <p class="heading">{{ include.milestone.caption }}</p>
    {% if include.milestone.details %}<p class="content has-text-grey">{{ include.milestone.details }}</p>{% endif %}
  </div>
</div>